* {
  box-sizing: border-box;
}
.theme-default {
  --main-background: hsl(222, 26%, 31%);
  --screen-background: hsl(224, 36%, 15%);
  --keypad-background: hsl(223, 31%, 20%);
  --numbers-background: hsl(30, 25%, 89%);
  --numbers-shadow-background: hsl(28, 16%, 65%);
  --numbers-equal-background: hsl(6, 63%, 50%);
  --numbers-shadow-equal-background: hsl(6, 70%, 34%);
  --numbers-equal-text: #fff;
  --numbers-reset-background: hsl(225, 21%, 49%);
  --numbers-shadow-reset-background: hsl(224, 28%, 35%);
  --numbers-color-text: hsl(221, 14%, 31%);
  --numbers-color-text-white: #fff;
  --header-color-text: #fff;
  --header-range: hsl(6, 63%, 50%);
}
.theme-light {
  --main-background: hsl(0, 0%, 90%);
  --screen-background: hsl(0, 0%, 93%);
  --keypad-background: hsl(0, 5%, 81%);
  --numbers-background: hsl(45, 7%, 89%);
  --numbers-shadow-background: hsl(35, 11%, 61%);
  --numbers-equal-background: hsl(25, 98%, 40%);
  --numbers-shadow-equal-background: hsl(25, 99%, 27%);
  --numbers-equal-text: #fff;
  --numbers-reset-background: hsl(185, 42%, 37%);
  --numbers-shadow-reset-background: hsl(185, 58%, 25%);
  --numbers-color-text: hsl(60, 10%, 19%);
  --numbers-color-text-white: #fff;
  --header-color-text: hsl(60, 10%, 19%);
  --header-range: hsl(25, 98%, 40%);
}
.theme-dark {
  --main-background: hsl(268, 75%, 9%);
  --screen-background: hsl(268, 71%, 12%);
  --keypad-background: hsl(268, 71%, 12%);
  --numbers-background: hsl(268, 47%, 21%);
  --numbers-shadow-background: hsl(285, 91%, 52%);
  --numbers-equal-background: hsl(176, 100%, 44%);
  --numbers-shadow-equal-background: hsl(177, 92%, 70%);
  --numbers-equal-text: #000;
  --numbers-reset-background: hsl(281, 89%, 26%);
  --numbers-shadow-reset-background: hsl(285, 91%, 52%);
  --numbers-color-text: hsl(52, 100%, 62%);
  --numbers-color-text-white: #fff;
  --header-color-text: hsl(52, 100%, 62%);
  --header-range: hsl(176, 100%, 44%);
}
body {
  background-color: var(--main-background);
  margin: 0;
  height: 100vh;
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  color: var(--numbers-color-text-white);
}
#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 500px;
  height: 650px;
  padding: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.calculator__header {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__logo {
  width: 50%;
}
.header__logo--text {
  padding-left: 5px;
  font-weight: bold;
  color: var(--header-color-text);
}
.header__theme {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
  height: 100%;
  font-size: 14px;
}
.header__theme__levels {
  text-align: center;
  height: 35%;
  letter-spacing: 5px;
  padding-top: 10px;
  padding-right: 8px;
}
.header__theme__levels--text {
  color: var(--header-color-text);
}
.header__theme__range {
  height: 65%;
}
.header__theme__range--text {
  font-weight: bold;
  height: 50px;
  position: relative;
  top: -15%;
  margin-right: 10px;
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--header-color-text);
}
.header__theme__range--input {
  background: var(--keypad-background);
  width: 70px;
  height: 20px;
}
input[type="range"] {
  -webkit-appearance: none;
  outline: none !important;
  appearance: none;
  border: none;
  border-radius: 30px;
  padding: 12px 8px;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}

/* Chrome */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--header-range);
  cursor: pointer;
  border-radius: 30px;
}

/* Moz */

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: hsl(6, 63%, 50%);
  cursor: pointer;
  border-radius: 30px;
}
.calculator__display {
  width: 100%;
  height: 21%;
  background-color: var(--screen-background);
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-size: 58px;
  font-weight: bold;
  padding: 0 30px 0 0;
}
.display__result {
  color: var(--header-color-text);
}
.calculator__numbers {
  height: 65%;
  background-color: var(--keypad-background);
  border-radius: 0.3em;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.numbers__btn {
  color: var(--numbers-color-text);
  background-color: var(--numbers-background);
  border: none;
  border-radius: 0.3em;
  box-shadow: inset 0px -3px 0 var(--numbers-shadow-background);
  font-size: 32px;
  font-weight: 700;
  width: 94px;
  height: 55px;
}
.numbers__btn--reset {
  width: 208px;
  height: 55px;
}
.numbers__btn--equal {
  color: var(--numbers-equal-text);
  background-color: var(--numbers-equal-background);
  box-shadow: inset 0px -3px 0 var(--numbers-shadow-equal-background);
  width: 208px;
  height: 55px;
  font-size: 26px;
}
.numbers__btn--del,
.numbers__btn--reset {
  color: var(--numbers-color-text-white);
  background-color: var(--numbers-reset-background);
  box-shadow: inset 0px -3px 0 var(--numbers-shadow-reset-background);
  font-size: 26px;
}

@media (max-width: 512px) {
  .calculator {
    min-width: 350px;
    width: 360px;
    min-height: 450px;
    height: 700px;
    padding: 10px;
    margin-top: 2em;
  }
  .calculator__header {
    height: 10%;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
  .calculator__display {
    height: 15%;
    font-size: 58px;
    padding: 0 20px 0 0;
  }
  .calculator__numbers {
    height: 65%;
    gap: 12px;
  }
  .numbers__btn {
    width: 65px;
    height: 70px;
  }
  .numbers__btn--reset {
    width: 142px;
    height: 70px;
  }
  .numbers__btn--equal {
    width: 142px;
    height: 70px;
  }
  .numbers__btn--del,
  .numbers__btn--reset,
  .numbers__btn--equal {
    font-size: 20px;
  }
}
